# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Distribution / packaging
build/
develop-eggs/
dist/
*.egg-info/

# Logs and databases
*.log
*.sqlite3

# Environment variables
.env
